hT {
	text-align: center;
	color: red;
	font-size: xxx-large;
	font-family: sans-serif;
	font-weight: bold;
}

#rights {
	position: absolute;
	bottom: 1.5%;
	right: 1.5%;
}

position {
	text-align: right;
	font-size: x-large;
	font-weight: bold;
}

right {
	text-align: right;
}

#acc {
	position: absolute;
	top: 1.5%;
	right: 1.5%;
}